<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Favorites</title>
</head>
<body>
<div class="favoritesPart">
<!--    DEVELOPER: Samara Augustin, IS117-001, Fall 2021-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../images/homeIcon.png" alt="home page icon" width="40px" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./romance.html">Romance</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./adventure.html">Adventure</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./fantasy.html">Fantasy</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./science.html">Sci-Fi</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">About Me</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./contact.html">Contact Form</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="./favorites.html">Favorites</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container advenPage">
        <h1 id="advenH">My Other Favorite Books</h1>
        <div class="row flexCol">
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/speaker_for_the_dead.jpg" alt="speaker for the dead book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">Speaker for the Dead (Ender's Saga #2)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#speakerModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="speakerModal" tabindex="-1" aria-labelledby="speakerModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="speakerModalLabel">Speaker for the Dead (Ender's Saga #2)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/speaker_for_the_dead.jpg" alt="speaker for the dead book cover" width="185px">
                                        <h1>Speaker for the Dead (Ender's Saga #2)</h1>
                                        <h2>By Orson Scott Card</h2>
                                        <h4>Rating: 4.07</h4>
                                        <p>
                                            In the aftermath of his terrible war, Ender Wiggin disappeared, and a powerful voice arose: The Speaker for the Dead, who told the true story of the Bugger War.
                                            <br/>
                                            Now, long years later, a second alien race has been discovered, but again the aliens' ways are strange and frightening...again, humans die. And it is only the Speaker for the Dead, who is also Ender Wiggin the Xenocide, who has the courage to confront the mystery...and the truth.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/elantris.jpg" alt="elantris book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">Elantris (Elantris #1)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#elanModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="elanModal" tabindex="-1" aria-labelledby="elanModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="elanLabel">Elantris (Elantris #1)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/elantris.jpg" alt="elantris book cover" width="185px">
                                        <h1>Elantris (Elantris #1)</h1>
                                        <h2>By Brandon Sanderson</h2>
                                        <h4>Rating: 4.17</h4>
                                        <p>
                                            Elantris was the capital of Arelon: gigantic, beautiful, literally radiant, filled with benevolent beings who used their powerful magical abilities for the benefit of all. Yet each of these demigods was once an ordinary person until touched by the mysterious transforming power of the Shaod. Ten years ago, without warning, the magic failed. Elantrians became wizened, leper-like, powerless creatures, and Elantris itself dark, filthy, and crumbling.
                                            <br/>
                                            Arelon's new capital, Kae, crouches in the shadow of Elantris. Princess Sarene of Teod arrives for a marriage of state with Crown Prince Raoden, hoping—based on their correspondence—to also find love. She finds instead that Raoden has died and she is considered his widow. Both Teod and Arelon are under threat as the last remaining holdouts against the imperial ambitions of the ruthless religious fanatics of Fjordell. So Sarene decides to use her new status to counter the machinations of Hrathen, a Fjordell high priest who has come to Kae to convert Arelon and claim it for his emperor and his god.
                                            <br/>
                                            But neither Sarene nor Hrathen suspect the truth about Prince Raoden. Stricken by the same curse that ruined Elantris, Raoden was secretly exiled by his father to the dark city. His struggle to help the wretches trapped there begins a series of events that will bring hope to Arelon, and perhaps reveal the secret of Elantris itself.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/the_magician_nephew.jpg" alt="the magicians nephew book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Magician's Nephew (The Chronicles of Narnia #6)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nepModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="nepModal" tabindex="-1" aria-labelledby="nepModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="nepModalLabel">The Magician's Nephew (The Chronicles of Narnia #6)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/the_magician_nephew.jpg" alt="the magicians nephew book cover" width="185px">
                                        <h1>The Magician's Nephew (The Chronicles of Narnia #6)</h1>
                                        <h2>By C.S. Lewis</h2>
                                        <h4>Rating: 4.04</h4>
                                        <p>
                                            NARNIA...where the woods are thick and cold, where Talking Beasts are called to life...a new world where the adventure begins.
                                            <br/>
                                            Digory and Polly meet and become friends one cold, wet summer in London. Their lives burst into adventure when Digory's Uncle Andrew, who thinks he is a magician, sends them hurtling to...somewhere else. They find their way to Narnia, newborn from the Lion's song, and encounter the evil sorceress Jadis before they finally return home.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flexCol">
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/prisim.jpg" alt="prisim book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Black Prisim (Lightbringer #1)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prisimModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="prisimModal" tabindex="-1" aria-labelledby="prisimModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="prisimModalLabel">The Black Prisim (Lightbringer #1)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/prisim.jpg" alt="prisim book cover" width="185px">
                                        <h1>The Black Prisim (Lightbringer #1)</h1>
                                        <h2>By Brent Weeks</h2>
                                        <h4>Rating: 4.21</h4>
                                        <p>
                                            Guile is the Prism, the most powerful man in the world. He is high priest and emperor, a man whose power, wit, and charm are all that preserves a tenuous peace. Yet Prisms never last, and Guile knows exactly how long he has left to live.
                                            <br/>
                                            When Guile discovers he has a son, born in a far kingdom after the war that put him in power, he must decide how much he's willing to pay to protect a secret that could tear his world apart.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/unhoneymooners.jpg" alt="unhoneymooners book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Unhoneymooners</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#honeyModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="honeyModal" tabindex="-1" aria-labelledby="honeyModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="honeyModalLabel">The Unhoneymooners</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/unhoneymooners.jpg" alt="unhoneymooners book cover" width="185px">
                                        <h1>The Unhoneymooners</h1>
                                        <h2>By Christina Lauren</h2>
                                        <h4>Rating: 4.02</h4>
                                        <p>
                                            Olive is always unlucky: in her career, in love, in…well, everything. Her identical twin sister Ami, on the other hand, is probably the luckiest person in the world. Her meet-cute with her fiancé is something out of a romantic comedy (gag) and she’s managed to finance her entire wedding by winning a series of Internet contests (double gag). Worst of all, she’s forcing Olive to spend the day with her sworn enemy, Ethan, who just happens to be the best man.
                                            <br/>
                                            Olive braces herself to get through 24 hours of wedding hell before she can return to her comfortable, unlucky life. But when the entire wedding party gets food poisoning from eating bad shellfish, the only people who aren’t affected are Olive and Ethan. And now there’s an all-expenses-paid honeymoon in Hawaii up for grabs.
                                            <br/>
                                            Putting their mutual hatred aside for the sake of a free vacation, Olive and Ethan head for paradise, determined to avoid each other at all costs. But when Olive runs into her future boss, the little white lie she tells him is suddenly at risk to become a whole lot bigger. She and Ethan now have to pretend to be loving newlyweds, and her luck seems worse than ever. But the weird thing is that she doesn’t mind playing pretend. In fact, she feels kind of... lucky.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/land_of_stories.jpg" alt="the land of stories book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Wishing Spell (The Land of Stories #1)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#landModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="landModal" tabindex="-1" aria-labelledby="landModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="landModalLabel">The Wishing Spell (The Land of Stories #1)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/land_of_stories.jpg" alt="the land of stories book cover" width="185px">
                                        <h1>The Wishing Spell (The Land of Stories #1)</h1>
                                        <h2>By Chris Colfer, Brandon Dorman (Illustrator)</h2>
                                        <h4>Rating: 4.24</h4>
                                        <p>
                                            Alex and Conner Bailey's world is about to change, in this fast-paced adventure that uniquely combines our modern day world with the enchanting realm of classic fairy tales.
                                            The Land of Stories tells the tale of twins Alex and Conner. Through the mysterious powers of a cherished book of stories, they leave their world behind and find themselves in a foreign land full of wonder and magic where they come face-to-face with the fairy tale characters they grew up reading about.
                                            <br/>
                                            But after a series of encounters with witches, wolves, goblins, and trolls alike, getting back home is going to be harder than they thought.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row flexCol">
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/the_way_of_shadows.jpg" alt="the way of shadows book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Way of Shadows (Night Angel #1)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shadowModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="shadowModal" tabindex="-1" aria-labelledby="shadowModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="shadowModalLabel">The Way of Shadows (Night Angel #1)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/the_way_of_shadows.jpg" alt="the way of shadows book cover" width="185px">
                                        <h1>The Way of Shadows (Night Angel #1)</h1>
                                        <h2>By Brent Weeks</h2>
                                        <h4>Rating: 4.13</h4>
                                        <p>
                                            For Azoth, survival is precarious. Something you never take for granted. As a guild rat, he's grown up in the slums, and learned to judge people quickly - and to take risks. Risks like apprenticing himself to Durzo Blint.
                                            <br/>
                                            But to be accepted, Azoth must turn his back on his old life and embrace a new identity and name. As Kylar Stern, he must learn to navigate the assassins' world of dangerous politics and strange magics - and cultivate a flair for death.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/amulet.jpg" alt="amulet of samarkand book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Amulet of Samarkand (Bartimaeus #1)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#amuModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="amuModal" tabindex="-1" aria-labelledby="amuModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="amuModalLabel">The Amulet of Samarkand (Bartimaeus #1)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/amulet.jpg" alt="amulet of samarkand book cover" width="185px">
                                        <h1>The Amulet of Samarkand (Bartimaeus #1)</h1>
                                        <h2>By Jonathan Stroud</h2>
                                        <h4>Rating: 3.99</h4>
                                        <p>
                                            Nathaniel is a boy magician-in-training, sold to the government by his birth parents at the age of five and sent to live as an apprentice to a master. Powerful magicians rule Britain, and its empire, and Nathaniel is told his is the "ultimate sacrifice" for a "noble destiny."
                                            <br/>
                                            If leaving his parents and erasing his past life isn't tough enough, Nathaniel's master, Arthur Underwood, is a cold, condescending, and cruel middle-ranking magician in the Ministry of Internal Affairs. The boy's only saving grace is the master's wife, Martha Underwood, who shows him genuine affection that he rewards with fierce devotion. Nathaniel gets along tolerably well over the years in the Underwood household until the summer before his eleventh birthday. Everything changes when he is publicly humiliated by the ruthless magician Simon Lovelace and betrayed by his cowardly master who does not defend him.
                                            <br/>
                                            Nathaniel vows revenge. In a Faustian fever, he devours magical texts and hones his magic skills, all the while trying to appear subservient to his master. When he musters the strength to summon the 5,000-year-old djinni Bartimaeus to avenge Lovelace by stealing the powerful Amulet of Samarkand, the boy magician plunges into a situation more dangerous and deadly than anything he could ever imagine.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/golden_compass.jpg" alt="the golden compass book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Golden Compass (His Dark Materials #1)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#goldModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="goldModal" tabindex="-1" aria-labelledby="goldModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="goldModalLabel">The Golden Compass (His Dark Materials #1)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/golden_compass.jpg" alt="the golden compass book cover" width="185px">
                                        <h1>The Golden Compass (His Dark Materials #1)</h1>
                                        <h2>By Philip Pullman</h2>
                                        <h4>Rating: 4.00</h4>
                                        <p>
                                            Lyra is rushing to the cold, far North, where witch clans and armored bears rule. North, where the Gobblers take the children they steal--including her friend Roger. North, where her fearsome uncle Asriel is trying to build a bridge to a parallel world.
                                            <br/>
                                            Can one small girl make a difference in such great and terrible endeavors? This is Lyra: a savage, a schemer, a liar, and as fierce and true a champion as Roger or Asriel could want--but what Lyra doesn't know is that to help one of them will be to betray the other.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flexCol">
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/strain.jpg" alt="the strain book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Strain (The Strain Trilogy #1)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#strainModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="strainModal" tabindex="-1" aria-labelledby="strainModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="strainModalLabel">The Strain (The Strain Trilogy #1)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/strain.jpg" alt="the strain book cover" width="185px">
                                        <h1>The Strain (The Strain Trilogy #1)</h1>
                                        <h2>By Guillermo del Toro, Chuck Hogan</h2>
                                        <h4>Rating: 3.77</h4>
                                        <p>
                                            A Boeing 777 arrives at JFK and is on its way across the tarmac, when it suddenly stops dead. All window shades are pulled down. All lights are out. All communication channels have gone quiet. Crews on the ground are lost for answers, but an alert goes out to the CDC. Dr. Ephraim "Eph" Goodweather, head of their Canary project, a rapid-response team that investigates biological threats, gets the call and boards the plane. What he finds makes his blood run cold.
                                            <br/>
                                            In a pawnshop in Spanish Harlem, a former professor and survivor of the Holocaust named Abraham Setrakian knows something is happening. And he knows the time has come, that a war is brewing.
                                            <br/>
                                            So begins a battle of mammoth proportions as the vampiric virus that has infected New York begins to spill out into the streets. Eph, who is joined by Setrakian and a motley crew of fighters, must now find a way to stop the contagion and save his city - a city that includes his wife and son - before it is too late.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small footerPart" style="background-color: #e3f2fd;">

        <div class="footer-copyright text-center py-3">© 2021 Copyright. Terms of Service. Privacy Statement.
        </div>

    </footer>
</div>

</body>
</html>