<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Romance Genre</title>
</head>
<body>
<div class="romancePart">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../images/homeIcon.png" alt="home page icon" width="40px" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./romance.html">Romance</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./adventure.html">Adventure</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./fantasy.html">Fantasy</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./science.html">Sci-Fi</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">About Me</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./contact.html">Contact Form</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="./favorites.html">Favorites</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container advenPage">
        <h1 id="advenH">My Favorite Romance Books</h1>
        <div class="row flexCol">
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/love_hypothesis.jpg" alt="love hypothesis book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Love Hypothesis</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loveHModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="loveHModal" tabindex="-1" aria-labelledby="loveHModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="loveHModalLabel">The Love Hypothesis</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/love_hypothesis.jpg" alt="love hypothesis book cover" width="185px">
                                        <h1>The Love Hypothesis</h1>
                                        <h2>By Ali Hazelwood</h2>
                                        <h4>Rating: 4.46 (Goodreads)</h4>
                                        <p>As a third-year Ph.D. candidate, Olive Smith doesn't believe in lasting romantic relationships--but her best friend does, and that's what got her into this situation. Convincing Anh that Olive is dating and well on her way to a happily ever after was always going to take more than hand-wavy Jedi mind tricks: Scientists require proof. So, like any self-respecting biologist, Olive panics and kisses the first man she sees.
                                            <br/>
                                            That man is none other than Adam Carlsen, a young hotshot professor--and well-known ass. Which is why Olive is positively floored when Stanford's reigning lab tyrant agrees to keep her charade a secret and be her fake boyfriend. But when a big science conference goes haywire, putting Olive's career on the Bunsen burner, Adam surprises her again with his unyielding support and even more unyielding... six-pack abs.
                                            <br/>
                                            Suddenly their little experiment feels dangerously close to combustion. And Olive discovers that the only thing more complicated than a hypothesis on love is putting her own heart under the microscope.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/saint_anything.jpg" alt="saint anything book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">Saint Anything</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#anythingModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="anythingModal" tabindex="-1" aria-labelledby="anythingModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="anythingModalLabel">Saint Anything</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/saint_anything.jpg" alt="saint anything book cover" width="185px">
                                        <h1>Saint Anything</h1>
                                        <h2>By Sarah Dessen</h2>
                                        <h4>Rating: 4.01</h4>
                                        <p>
                                            Sydney has always felt invisible. She's grown accustomed to her brother, Peyton, being the focus of the family’s attention and, lately, concern. Peyton is handsome and charismatic, but seems bent on self-destruction. Now, after a drunk-driving accident that crippled a boy, Peyton’s serving some serious jail time, and Sydney is on her own, questioning her place in the family and the world.
                                            <br/>
                                            Then she meets the Chatham family. Drawn into their warm, chaotic circle, Sydney experiences unquestioning acceptance for the first time. There’s effervescent Layla, who constantly falls for the wrong guy, Rosie, who’s had her own fall from grace, and Mrs. Chatham, who even though ailing is the heart of the family. But it’s with older brother Mac—quiet, watchful, and protective—that Sydney finally feels seen, really seen, at last.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/almost_a_bride.jpg" alt="almost a bride book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">Almost a Bride (Destination Love #2)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#almostModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="almostModal" tabindex="-1" aria-labelledby="almostModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="almostModalLabel">Almost a Bride (Destination Love #2)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/almost_a_bride.jpg" alt="almost a bride book cover" width="185px">
                                        <h1>Almost a Bride (Destination Love #2)</h1>
                                        <h2>By Jo Watson</h2>
                                        <h4>Rating: 4.20</h4>
                                        <p>
                                            Annie knows life isn't always fair. Sometimes you win. Sometimes you lose. Sometimes you get mistaken for a crazed intruder when you come home early and find your boyfriend wearing nipple clamps with a coworker on the night you thought he was going to propose to you.
                                            <br/>
                                            The important thing is to move on, and for Annie that means treating herself to a tropical vacation. But when she runs into her ex and his new woman staying at the same resort, reason is washed out to sea. Caught off guard, Annie pretends she's with Chris, a cute screenwriter she meets on the beach. With his own writing blocked, Chris is happy to help Annie craft a story to save face. Soon Annie isn't just getting over her ex, she's getting under Chris. As her fictional feelings grow increasingly real, Annie has to decide if she's ready to risk her heart on a new relationship.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flexCol">
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/beach_read.jpg" alt="beach read book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">Beach Read</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#beachModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="beachModal" tabindex="-1" aria-labelledby="beachModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="beachModalLabel">Beach Read</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/beach_read.jpg" alt="beach read book cover" width="185px">
                                        <h1>Beach Read</h1>
                                        <h2>By Emily Henry</h2>
                                        <h4>Rating: 4.05</h4>
                                        <p>
                                            A romance writer who no longer believes in love and a literary writer stuck in a rut engage in a summer-long challenge that may just upend everything they believe about happily ever afters.
                                            <br/>
                                            Augustus Everett is an acclaimed author of literary fiction. January Andrews writes bestselling romance. When she pens a happily ever after, he kills off his entire cast.
                                            <br/>
                                            They’re polar opposites.
                                            <br/>
                                            In fact, the only thing they have in common is that for the next three months, they're living in neighboring beach houses, broke, and bogged down with writer's block.
                                            <br/>
                                            Until, one hazy evening, one thing leads to another and they strike a deal designed to force them out of their creative ruts: Augustus will spend the summer writing something happy, and January will pen the next Great American Novel. She’ll take him on field trips worthy of any rom-com montage, and he’ll take her to interview surviving members of a backwoods death cult (obviously). Everyone will finish a book and no one will fall in love. Really.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/the_hating_game.jpg" alt="the hating game book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">The Hating Game</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#hatingModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="hatingModal" tabindex="-1" aria-labelledby="hatingModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="hatingModalLabel">The Hating Game</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/the_hating_game.jpg" alt="the hating game book cover" width="185px">
                                        <h1>The Hating Game</h1>
                                        <h2>By Sally Thorne</h2>
                                        <h4>Rating: 4.09</h4>
                                        <p>
                                            <i>Nemesis (n.) 1) An opponent or rival whom a person cannot best or overcome.
                                                2) A person’s undoing
                                                3) Joshua Templeman</i>
                                            <br/>
                                            Lucy Hutton has always been certain that the nice girl can get the corner office. She’s charming and accommodating and prides herself on being loved by everyone at Bexley & Gamin. Everyone except for coldly efficient, impeccably attired, physically intimidating Joshua Templeman. And the feeling is mutual.
                                            <br/>
                                            Trapped in a shared office together 40 (OK, 50 or 60) hours a week, they’ve become entrenched in an addictive, ridiculous never-ending game of one-upmanship. There’s the Staring Game. The Mirror Game. The HR Game. Lucy can’t let Joshua beat her at anything—especially when a huge new promotion goes up for the taking.
                                            <br/>
                                            If Lucy wins this game, she’ll be Joshua’s boss. If she loses, she’ll resign. So why is she suddenly having steamy dreams about Joshua, and dressing for work like she’s got a hot date? After a perfectly innocent elevator ride ends with an earth-shattering kiss, Lucy starts to wonder whether she’s got Joshua Templeman all wrong.
                                            <br/>
                                            Maybe Lucy Hutton doesn’t hate Joshua Templeman. And maybe, he doesn’t hate her either. Or maybe this is just another game.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col colshape">
                <div class="card cardShape" style="width: 18rem;">
                    <img src="../images/life_too_short.jpg" alt="lifes too short book cover" width="185px">
                    <div class="card-body cardBodyS">
                        <h5 class="card-title">Life's Too Short (The Friend Zone #3)</h5>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lifeTModal">
                            Read Description
                        </button>
                        <div class="modal fade" id="lifeTModal" tabindex="-1" aria-labelledby="lifeTModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content cardContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="lifeTModalLabel">Life's Too Short (The Friend Zone #3)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body cardBodyM">
                                        <img src="../images/life_too_short.jpg" alt="lifes too short book cover" width="185px">
                                        <h1>Life's Too Short (The Friend Zone #3)</h1>
                                        <h2>By Abby Jimenez</h2>
                                        <h4>Rating: 4.24</h4>
                                        <p>
                                            When Vanessa Price quit her job to pursue her dream of traveling the globe, she wasn't expecting to gain millions of YouTube followers who shared her joy of seizing every moment. For her, living each day to its fullest isn't just a motto. Her mother and sister never saw the age of 30, and Vanessa doesn't want to take anything for granted.
                                            <br/>
                                            But after her half-sister suddenly leaves Vanessa in custody of her infant daughter, life goes from "daily adventure" to "next-level bad" (now with bonus baby vomit in hair). The last person Vanessa expects to show up offering help is the hot lawyer next door, Adrian Copeland. After all, she barely knows him. No one warned her that he was the Secret Baby Tamer or that she'd be spending a whole lot of time with him and his geriatric Chihuahua.
                                            <br/>
                                            Now she's feeling things she's vowed not to feel. Because the only thing worse than falling for Adrian is finding a little hope for a future she may never see.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue footerPart">

        <div class="footer-copyright text-center py-3">© 2021 Copyright. Terms of Service. Privacy Statement.
        </div>

    </footer>
</div>
</body>
</html>