
/*DEVELOPER: Samara Augustin, IS117-001, Fall 2021*/
* {
    font-family: "Times New Roman", Times, serif;
}
.row {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.homePage {
    background-color: #F5FFFA;
}
.carePart {
    width: 1200px;
    margin: auto;
    height: 750px;
}

.contactPage {
    display: flex;
    flex-direction: column;
    background-color: #F5FFFA;
}
.contactPage h1 {
    text-align: center;
    margin-top: 2.4%;/*20px*/
    margin-bottom: 2.4%;
}
.contactMain {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    min-height: 600px;
}

/*@media only screen and (max-width: 479px) {*/
/*    * {*/
/*        font-size: 90% !important;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 767px) {*/
/*    * {*/
/*        font-size: 90%;*/
/*    }*/

/*    .indivPic img {*/
/*        padding-bottom: 10px;*/
/*        width: 180px;*/
/*    }*/
/*}*/

.contactF {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
}

.indivForm {
    margin-bottom: 10px;
}

.contactDes img {
    width: 120%;/*300px*/
    border: 2px solid black;
}
nav {
    background-color: #007bff;
}

.footerPart {
    background-color: #20c997;
}
.carePart img {
    height: 100%;
}

.homeSec {
    padding-top: 20px;
    background-color: #F5FFFA;
}
.homePic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
}

.fantasyPart {
    background-color: #F5FFFA;
}
.indivPic {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
    /*border: 1px solid black;*/
    border-radius: 6px;
    width: auto;
}

/*.indivPic:hover {*/
/*    box-shadow: 0 8px 16px 0 rgb(255, 174, 0);*/
/*}*/


.indivPic h1 {
    text-align: center;
    font-size: 250%;
}

.indivPic img {
    padding-bottom: 10px;
    /*width: 180px;*/
    width: 12em;
}


.advenPage {
    max-width: 1200px;
    margin: auto;
    background-color: #F5FFFA;
}

.adventurePart {
    background-color: #F5FFFA;
}

.favoritesPart {
    background-color: #F5FFFA;
}

.romancePart {
    background-color: #F5FFFA;
}

.flexCol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#advenH {
    text-align: center;
    margin-top: 1.6%;;
    margin-bottom: 1.6%;/*20px*/
}

.sciencePart {
    background-color: #F5FFFA;
}
.colshape {
    display: flex;
    justify-content: center;
}

.cardShape {
    min-width: 150px;
    min-height: 430px;
    background-color: #dee2e6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: unset;
}

.cardShape h5 {
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: -webkit-center;
}

/*.cardShape img {*/
/*    border: 3px solid black;*/
/*    width: 200px;*/
/*    margin-top: 20px;*/
/*}*/
.cardShape img {
    border: 3px solid black;
    width: 80%;
    margin-top: 5%;
}
.cardBodyS {
    display: flex;
    flex-direction: column;
}

/*.cardContent{*/
/*    background-color: #0c5460;*/
/*}*/

.cardBodyM {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    margin: auto;
    max-width: 700px;
}

/*.cardBodyM img {*/
/*    width: 250px;*/
/*    margin-bottom: 20px;*/
/*}*/
.cardBodyM img {
    width: 36%;
    margin-bottom: 2.8%;
}

.cardBodyM h1 {
    /*background-color: #004e97;*/
    text-align: center;
    margin-bottom: 20px;
}

.cardBodyM h2 {
    /*background-color: #007bff;*/
    margin-bottom: 20px;
}

.cardBodyM h4 {
    /*background-color: #155724;*/
    margin-bottom: 20px;
}

.cardBodyM p {
    /*background-color: #856404;*/
    text-align: center;
    font-size: 150%;
    /*font-size: 20px;*/
}